body {
    position: relative;
    height: 100%;
    overflow-y: scroll;
}
.dropdown ul {
   max-height:500px;  /* you choice of number in pixels */
   overflow-x:hidden; /* hides the horizontal scroll    */
   overflow-y:auto;   /* enables the vertical scroll    */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dropdown ul::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dropdown ul {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/**********************************************/

#sidebar ul {
   max-height:500px;  /* you choice of number in pixels */
   overflow-x:hidden; /* hides the horizontal scroll    */
   overflow-y:auto;   /* enables the vertical scroll    */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#sidebar  ul::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#sidebar ul {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/**********************************************/


footer {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 20px;
    padding: 20px 0 40px;
}

img {
    max-width: 100%;
    height: auto;
}

footer .fa:hover {
    font-size: 28px;
}

.shadow {
    box-shadow: 0 6px 12px rgba(0,0,0,0.5);
}

#moodle {
    padding: 20px;
}

div.scrollspy-elem {
    position: relative;
    overflow: scroll;
    /*width: 350px;
    height: 160px;*/
}

#video-view{
  width:75%;
  margin:0 auto;
}

/*.popup:hover {*/
/*    font-size: 51px;*/
/*}*/

#video-view iframe{
  width:100%;
  margin:0 auto;
}

/* Active/current link */
/*.bs-sidenav a.active {
  background-color:#FFFFFF;
  color: white;
}*/

/*#sidebar {
    max-height: 100%;
    overflow-y: auto;
}*/

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}
.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}